<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,132}</string>
                <key>spriteSourceSize</key>
                <string>{133,132}</string>
                <key>textureRect</key>
                <string>{{1407,854},{133,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Eggs-Cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,142}</string>
                <key>spriteSourceSize</key>
                <string>{124,142}</string>
                <key>textureRect</key>
                <string>{{1552,215},{124,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Eggs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,78}</string>
                <key>textureRect</key>
                <string>{{1451,574},{91,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obstacles-Piller-up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{160,887}</string>
                <key>spriteSourceSize</key>
                <string>{180,887}</string>
                <key>textureRect</key>
                <string>{{1,388},{160,887}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obstacles-Piller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,619}</string>
                <key>spriteSourceSize</key>
                <string>{180,619}</string>
                <key>textureRect</key>
                <string>{{737,1},{180,619}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Obstacles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,239}</string>
                <key>spriteSourceSize</key>
                <string>{288,239}</string>
                <key>textureRect</key>
                <string>{{163,388},{288,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,385}</string>
                <key>spriteSourceSize</key>
                <string>{734,385}</string>
                <key>textureRect</key>
                <string>{{1,1},{734,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{287,212}</string>
                <key>spriteSourceSize</key>
                <string>{287,244}</string>
                <key>textureRect</key>
                <string>{{1358,1},{287,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{287,212}</string>
                <key>spriteSourceSize</key>
                <string>{287,244}</string>
                <key>textureRect</key>
                <string>{{740,263},{287,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_blue_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{285,242}</string>
                <key>spriteSourceSize</key>
                <string>{287,244}</string>
                <key>textureRect</key>
                <string>{{163,629},{285,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_blue_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{285,224}</string>
                <key>spriteSourceSize</key>
                <string>{287,244}</string>
                <key>textureRect</key>
                <string>{{453,388},{285,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{225,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{163,1174},{225,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{229,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{1477,343},{229,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_box_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{233,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{1216,534},{233,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{235,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{1315,215},{235,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{237,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{740,477},{237,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{237,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{1076,183},{237,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{237,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{386,873},{237,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_box_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{235,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{979,504},{235,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{233,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{453,614},{233,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{229,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{450,742},{229,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_box_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{225,126}</string>
                <key>spriteSourceSize</key>
                <string>{259,146}</string>
                <key>textureRect</key>
                <string>{{740,605},{225,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_died_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{1414,1261},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_died_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,114}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{1605,341},{136,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_died_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,114}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{1605,479},{136,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_died_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66.5,55.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{158,1277},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_enemy_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{188,139}</string>
                <key>spriteSourceSize</key>
                <string>{190,147}</string>
                <key>textureRect</key>
                <string>{{390,1112},{188,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_enemy_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{188,137}</string>
                <key>spriteSourceSize</key>
                <string>{190,147}</string>
                <key>textureRect</key>
                <string>{{754,1255},{188,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_enemy_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{190,135}</string>
                <key>spriteSourceSize</key>
                <string>{190,147}</string>
                <key>textureRect</key>
                <string>{{1407,662},{190,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_enemy_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{188,139}</string>
                <key>spriteSourceSize</key>
                <string>{190,147}</string>
                <key>textureRect</key>
                <string>{{917,825},{188,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_enemy_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,145}</string>
                <key>spriteSourceSize</key>
                <string>{190,147}</string>
                <key>textureRect</key>
                <string>{{869,1107},{184,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_enemy_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{188,139}</string>
                <key>spriteSourceSize</key>
                <string>{190,147}</string>
                <key>textureRect</key>
                <string>{{885,966},{188,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_enemy_died_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{122,128}</string>
                <key>textureRect</key>
                <string>{{1524,988},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_enemy_died_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,128}</string>
                <key>textureRect</key>
                <string>{{1283,853},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_enemy_died_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,128}</string>
                <key>textureRect</key>
                <string>{{1050,1324},{120,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_enemy_died_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,14}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{122,128}</string>
                <key>textureRect</key>
                <string>{{1298,1160},{104,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_enemy_died_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59.5,62.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{122,128}</string>
                <key>textureRect</key>
                <string>{{707,1077},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_enemy_died_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59.5,62.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{122,128}</string>
                <key>textureRect</key>
                <string>{{1050,1254},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_yellow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{222,191}</string>
                <key>spriteSourceSize</key>
                <string>{230,217}</string>
                <key>textureRect</key>
                <string>{{1029,311},{222,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_yellow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{222,189}</string>
                <key>spriteSourceSize</key>
                <string>{230,217}</string>
                <key>textureRect</key>
                <string>{{1253,343},{222,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_yellow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,13}</string>
                <key>spriteSize</key>
                <string>{218,191}</string>
                <key>spriteSourceSize</key>
                <string>{230,217}</string>
                <key>textureRect</key>
                <string>{{967,632},{218,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_yellow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{218,189}</string>
                <key>spriteSourceSize</key>
                <string>{230,217}</string>
                <key>textureRect</key>
                <string>{{1187,662},{218,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_yellow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{208,185}</string>
                <key>spriteSourceSize</key>
                <string>{230,217}</string>
                <key>textureRect</key>
                <string>{{707,733},{208,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_yellow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{222,191}</string>
                <key>spriteSourceSize</key>
                <string>{230,217}</string>
                <key>textureRect</key>
                <string>{{514,870},{222,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,78}</string>
                <key>spriteSourceSize</key>
                <string>{337,78}</string>
                <key>textureRect</key>
                <string>{{737,183},{337,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{148,147}</string>
                <key>spriteSourceSize</key>
                <string>{160,157}</string>
                <key>textureRect</key>
                <string>{{158,1302},{148,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{148,147}</string>
                <key>spriteSourceSize</key>
                <string>{160,157}</string>
                <key>textureRect</key>
                <string>{{307,1302},{148,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{148,147}</string>
                <key>spriteSourceSize</key>
                <string>{160,157}</string>
                <key>textureRect</key>
                <string>{{456,1302},{148,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{148,147}</string>
                <key>spriteSourceSize</key>
                <string>{160,157}</string>
                <key>textureRect</key>
                <string>{{605,1300},{148,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{148,147}</string>
                <key>spriteSourceSize</key>
                <string>{160,157}</string>
                <key>textureRect</key>
                <string>{{1251,1010},{148,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{148,147}</string>
                <key>spriteSourceSize</key>
                <string>{160,157}</string>
                <key>textureRect</key>
                <string>{{1400,1112},{148,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magnet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1400,988},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magnet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1174,1324},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magnet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1550,1109},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magnet_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1298,1266},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magnet_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1550,1233},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magnet_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1526,1337},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red-bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,221}</string>
                <key>spriteSourceSize</key>
                <string>{299,221}</string>
                <key>textureRect</key>
                <string>{{163,873},{299,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeleton-fly_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{1544,795},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-fly_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{176,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{707,920},{176,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-fly_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{176,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{712,1077},{176,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeleton-fly_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{1107,853},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-fly_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{170,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{1,1277},{170,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeleton-fly_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{1075,1010},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-fly_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{176,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{893,1254},{176,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeleton-fly_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{176,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{1544,617},{176,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skeleton-fly_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{1055,1167},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-fly_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{170,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{1542,952},{170,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yello-bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,179}</string>
                <key>spriteSourceSize</key>
                <string>{204,179}</string>
                <key>textureRect</key>
                <string>{{531,1094},{204,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flappybird.png</string>
            <key>size</key>
            <string>{1720,1451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f18922c4a800518e59e455893c2dd99a:a68b74dab907159de12e6b8ccbf263e5:544de75b62276e7eaf39b090b5972df4$</string>
            <key>textureFileName</key>
            <string>flappybird.png</string>
        </dict>
    </dict>
</plist>
